body {
    margin: 2.5em;
    font-family: 'Fira Code';
}

#postamble.status {
    display: none;
    visibility: hidden;
}

.section-number-2 {
    display: none;
    visibility: hidden;
}

.section-number-3 {
    display: none;
    visibility: hidden;
}

.section-number-4 {
    display: none;
    visibility: hidden;
}

.org-ol {
    list-style: none;
}

h4 {
    text-align: center;
}
